@import '~bootstrap/scss/bootstrap';

$primary: #000;

.game {
  align-items: center;
  border: 1px solid $primary;
  display: flex;
  height: 80px;
  justify-content: center; // justify the x's and o's to center
  margin: 0;
  padding: 0;
}

.current-player {
  align-items: center;
  border: 1px solid $primary;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px 0 0; // top margin only
  padding: 0;
}

.success {
  color: green;
}

.failure {
  color: red;
}
