@import '~bootstrap/scss/bootstrap';

$black: #0B0310;
$dark: #1F2833;
$grey: #C5C6C7;
$light-blue: #66FCF1;
$grey-blue: #45A29E;

html {
  color: $light-blue;
  display: block;
  justify-content: center;
  align-items: center;
}

.bottom-h1 {
  margin-bottom: 2%;
}

h1 {
  font-family: Impact, fantasy;
  color: $light-blue;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

h5 {
  color: $grey-blue;
}

body {
  background-color: $black;
}

.game-box {

}

button {
  color: $light-blue;
  background-color: $grey-blue;
  width: 150px;
  margin-top: 10px;
  display: block;
  justify-content: center;
}

.half-title {
  color: $grey-blue;
}

.message-section {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.sign-in-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.sign-out-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5% 0 0 0;
}

.cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cpb {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: $light-blue;
}

.sign-up-box {
  display: flex;
  justify-content: center;
  margin: 0;
}

.change-password-box {
  display: flex;
  justify-content: center;
}

.turn-box {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.row {
  height: 50vmin;
  width: 50vmin;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.game {
  align-items: center;
  border-top: 2px solid $light-blue;
  border-right: 2px solid $light-blue;
  color: $light-blue;
  display: flex;
  height: calc(100% / 3);
  width: calc(100% / 3);
  cursor: pointer;
  justify-content: center; // justify the x's and o's to center
  margin: 0;
  padding: 0;
}

.game:nth-child(3n) {
  border-right: 0;
}

.game:nth-child(-n + 3) {
  border-top: 0;
}

.current-player {
  align-items: center;
  border: 1px solid $light-blue;
  color: $light-blue;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px 0 0; // top margin only
  padding: 0;
}

.games-played-box {
  color: $light-blue;
  margin-left: 5%;
}

.game-box {
  margin: 0;
}

.success {
  color: green;
}

.failure {
  color: red;
}
